Xcursor.size: 20

! urxvt

! rxvt is recognized by most programs, the bashrc colors it.
URxvt*termName:          rxvt

URxvt*geometry:          115x40
URxvt*loginShell:        true
URxvt*font:              xft:Monospace:pixelsize=20:antialias=true:hinting=true
URxvt*boldFont:          xft:Monospace:bold:pixelsize=20:antialias=true:hinting=true
! lineSpace 1 fixes some missing characters (underscore etc.) with small font sizes.
URxvt*lineSpace:         1
URxvt*depth:             24
URxvt*borderless:        1
URxvt*dynamicColors:     on

URxvt*transparent:       true
URxvt*shading:          10



! scrolling
URxvt*scrollBar:         false
URxvt*saveLines:         500

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true



! Meta modifier for keybindings
!URxvt.modifier: super

!! perl extensions
URxvt.perl-ext:             default,matcher,url-select,clipboard

! url-select (part of urxvt-perls package)
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.launcher:  firefox
URxvt.url-select.underline: true


URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5





! copy/paste
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy


! disable the ctrl+shift 'feature'
URxvt.iso14755:    false
URxvt.iso14755_52: false


*.cursorColor:  #ffffff


! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

